/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: radial-gradient(#edf6f7, #fbf9f9);
}

/* .container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
} */

h1, h2 {
  text-align: center;
  margin: 50px 0;
}

form {
  left: 50%;
  top: 70px;
  position: relative;
  max-width: 500px;
  /* margin: 0 auto; */
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

form input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

form input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #3e8e41;
}

form input[type="radio"]{
  width: 60px;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .container {
      display: flex;
      justify-content: center;
  }

  form {
      width: 50%;
  }
}

.product-image-container{
  position: relative;
  display: inline;
  width: 600px;
  height: 545px;
  left: 20%;
  top: 10px;
}

#product-image{
  position: absolute;
  width: 400px;
  height: 545px;
}

.titels{
  top: 0;
  width: 100%;
  border-color: rgb(179, 177, 177);
  border-style: solid;
  border-width: 1px;
}